[Desktop Entry]
Name=Kuchota
Name[en_US]=Kuchota
GenericName=podget wrapper and configurator
Comment=Command line menu app to manage podget Podcast feeds
Comment[en_US]=Command line menu app to manage podget Podcast feeds
Path=
StartupNotify=false
TryExec=/usr/local/bin/kuchota
Exec=gnome-terminal --profile=kuchota --geometry=132x32 --hide-menubar --command /usr/local/bin/kuchota
Terminal=false
Type=Application
Categories=GNOME;Accessories;Rivendell;
Icon=/usr/share/icons/gnome/scalable/apps/kuchota.svg
