[Unit]
Description=Rivendell Core Audio Engine

# This service (and the other Rivendell services) is instantiated for
# each user as which the daemons will run. Enable with
# sudo systemctl enable caed@<USERNAME>.service

# This service must wait until these services are already running:
# (enable these only on the workstation that is hosting the CAE for
# virtual machines)
#Requires=libvirtd.service
#After=libvirtd.service

[Service]
User=%i
ExecStartPre=/usr/local/bin/pmw-dbcheck
ExecStart=/usr/bin/caed
Type=forking
RuntimeDirectory=rivendell
RuntimeDirectoryMode=775
PIDFile=/var/run/rivendell/caed.pid
KillMode=mixed
Restart=always
IgnoreSIGPIPE=no
StandardOutput=syslog
StandardError=inherit
EnvironmentFile=-/etc/locale.conf

[Install]
WantedBy=rivendell.target
