[Unit]
Description=Rivendell IPC services

# This service (and the other Rivendell services) is instantiated for
# each user as which the daemons will run. Enable with
# sudo systemctl enable ripcd@<USERNAME>.service

# This service must wait until these services are already running
Requires=caed@%i.service
After=caed@%i.service

[Service]
User=%i
ExecStart=/usr/bin/ripcd
Type=forking
KillMode=mixed
PIDFile=/run/rivendell/ripcd.pid
Restart=always
IgnoreSIGPIPE=no
StandardOutput=syslog
StandardError=inherit
EnvironmentFile=-/etc/locale.conf

[Install]
WantedBy=rivendell.target
