[Unit]
Description=Rivendell Services target
Documentation=man:systemd.special(7) man:systemd.unit(5)
StopWhenUnneeded=no
Requires=multi-user.target
After=multi-user.target
AllowIsolate=yes
